<a href="https://colab.research.google.com/github/rohitpawar4507/LP3_ML/blob/main/Ass3_KNN_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Assignment 3 
"""Assignment on k-NN Classification:
  @ Rohit Pawar """

'Assignment on k-NN Classification:\n  @ Rohit Pawar '

In [2]:
#import the packages
import pandas as pd
import numpy as np

In [3]:
#Read dataset
dataset=pd.read_csv("/content/drive/MyDrive/LP3/kdata.csv")
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,2].values

In [10]:
dataset.head()

   x  y     class
0  2  4  negative
1  4  6  negative
2  4  4  positive
3  4  2  negative
4  6  4  negative

In [13]:
#import KNeighborshood Classifier and create object of it
from sklearn.neighbors import KNeighborsClassifier

In [14]:
#Creating model
classifier=KNeighborsClassifier(n_neighbors=3)
# Training model
classifier.fit(X,y)

KNeighborsClassifier(n_neighbors=3)

In [15]:
#predict the class for the point(6,6)
X_test=np.array([6,6])
# Predictions for test data
y_pred=classifier.predict([X_test])
print(y_pred)

['negative']

In [16]:
# KNeighborsClassifier looks for the 5 nearest neighbors
#If set to uniform, all points in each neighbourhood have 
#equal influence in predicting class i.e. predicted class is the class with highest number of points in the neighbourhood.
classifier=KNeighborsClassifier(n_neighbors=3,weights='distance')
classifier.fit(X,y)

KNeighborsClassifier(n_neighbors=3, weights='distance')

In [17]:
#predict the class for the point(6,6)
X_test=np.array([6,2])
y_pred=classifier.predict([X_test])
print(y_pred)

['positive']